.swap_component {
  background-color: #445069;
  min-height: 100vh;
  padding: 24px;
  color: #C4DFDF;
}

.navbar header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo_div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px
}

.logo_div h1 {
  margin: 0;
  color: #5B9A8B;
}

.swap, .wallet, .menu_item {
  border-radius: 1.5rem;
}

.swap, .wallet {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  gap: 4px;
  background-color: #252B48;
}

.swap {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: calc(50% - 100px);
  width: 200px;
  margin-top: 24px;
}

.menu_item {
  width: 100%;
  padding: 8px;
  background-color: #445069;
  font-size: 1rem;
  opacity: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  cursor: pointer;
}

.menu_image {
  height: 20px;
}

.menu_item.active, .menu_item:hover {
  color: #E3F4F4;
  opacity: 100%;
}

.swap_component .main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}

.box {
  width: 500px;
  min-height: 400px;
  border-radius: 12px;
  background-color: #252B48;
}

.box_header {
  padding-left: 16px;
}

.divider {
  border-top: 1px solid #445069;
}

.from_token_box, .to_token_box {
  margin: 16px;
  padding: 4px 16px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  background-color: #445069;
}

.token_details {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 50%;
}

.from_token, .to_token {
  background-color: #252B48;
  color: #445069;
  border-radius: 12px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 8px;
  padding: 8px;
  height: 32px;
  width: 80px;
  overflow: hidden;
}

.token_logo {
  height: 30px;
  max-width: 30px;
}

.balance {
  font-size: 0.8rem;
  margin-top: -8px;
  margin-bottom: 4px;
}

.amount {
  font-size: 1.5rem;
  background-color: #445069;
  border: none;
  outline: none;
  caret-color: white;
  width: 50%;
  overflow: hidden;
  color: #C4DFDF;
}

.amount::placeholder {
  color: #C4DFDF;
}

.button {
  margin: 16px;
  display: flex;
}

.button button {
  width: 100%;
  padding: 16px;
  background-color: #5B9A8B;
  cursor: pointer;
  border: none;
  border-radius: 12px;
  font-size: 1.125rem;
  color: #F7E987;
}

.expected_output_header {
  margin-left: 24px;
  margin-bottom: 16px;
}

.expected_output {
  background-color: #445069;
  margin-left: 16px;
  margin-right: 16px;
  margin-bottom: 12px;
  border-radius: 12px;
  padding: 8px;
  font-size: 0.9rem;
}

.expected_output_item {
  margin-bottom: -25px;
  display: flex;
  justify-content: space-between;
}

.expected_output_item:last-child {
  margin-bottom: -10px;
}

.conversion_rate {
  margin-left: 16px;
}